//
// Fonts
// ------------------------------------
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

@mixin rubikRegular() {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

@mixin rubikBold() {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'akzidenz-grotesk_bqbold';
  src: url('../fonts/akzidenzgrotesk-bold-webfont.woff2') format('woff2'), url('../fonts/akzidenzgrotesk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akzidenz-grotesk_bqLtIt';
  src: url('../fonts/akzidenzgroteskbq-lightit-webfont.woff2') format('woff2'), url('../fonts/akzidenzgroteskbq-lightit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin akzidenzBold() {
  font-family: 'akzidenz-grotesk_bqbold';
  font-weight: normal;
}

@mixin akzidenzItalic() {
  font-family: 'akzidenz-grotesk_bqLtIt';
  font-weight: normal;
}
