//
// Colors (Check out BS Variables FIRST!)
// ------------------------------------
$primary-color: red;
$secondary-color: #97c4ca;
$background-color: #e5e5e5;
$secondary-background-color: #d6d2c7;
$text-color: #777;
$title-color: #505050;
